
<form method="POST" action="/jobs/<%= @job.id%>">

  <input id="hidden" type="hidden" name="_method" value="patch">

<br>
  <input style="font-size:25px;" type="text" name="job[name]" value = "<%=@job.name%>">
<br>
  <br>
  
<h2> Tasks: </h2>
<% @job.tasks.each do |task| %>
  <input type="checkbox" name="job[task_ids][]" id="<%= task.id %>" value="<%= task.id %>" <%='checked' if @job.tasks.include?(task) %>>  <%= task.description %><br>
<% end %>
<br>
<p> <i>Add a new task for the <%=@job.name%>:</i> </p>
  <textarea  type="text" name="task[description]" value= "" rows="5" cols="30"> Make customer happy </textarea>
<br>

<input type="submit" value="Update Job">

</form>