
<form method="POST" action="/jobs/<%= @job.id%>">

  <input id="hidden" type="hidden" name="_method" value="patch">

<br>
  <input style="font-size:25px;" type="text" name="job[name]" value = "<%=@job.name%>">
<br>
  <br>
  
<h2> Tasks: </h2>
<% current_user.global_processes.each do |global_process| %>
<%global_process.tasks.each do |task|%>
  <input type="checkbox" name="job[task_ids][]" id="<%= task.id %>" value="<%= task.id %>" <%= 'checked' if @job.tasks.include?(task) %>>  <%= task.description %><br>
<% end %> 
<% end %> 


<input type="submit" value="Update <%=@job.name%> Job">

</form>