<h1> <%= @job.name%> @ <%= @job.user.name%> </h1> 
<h2> with tasks: </h2>

<%@job.tasks.each do |task|%>
<h3> <ol><li><%=task.description%></li> </ol></h3>
<%end%>
<br>

<% if logged_in? && current_user.id == @job.user.id%>
<a href="jobs/<%= @job.id %>/edit"> Edit</a>
<form action="/jobs/<%= @job.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Job">
</form>
<%end%>