
<form method="POST" action="/global_processes/<%= @global_process.id%>">

  <input id="hidden" type="hidden" name="_method" value="patch">

<br>
  <input style="font-size:25px;" type="text" name="global_process[name]" value = "<%=@global_process.name%>">
<br>
  
  
<h3> Tasks: </h3>
<% @global_process.tasks.each do |task| %>
  <input type="checkbox" name="global_process[task_ids][]" id="<%= task.id %>" value="<%= task.id %>" <%='checked' if @global_process.tasks.include?(task) %>>  <%= task.description %><br>
<% end %>
<br>

<h3> Add a new task for the <%=@global_process.name%>: </h3>
  <textarea  type="text" name="task[description]" rows="5" cols="30">Make customer happy </textarea>
<br><br>

<input type="submit" value="Update <%=@global_process.name%> Process">

</form>