<h1> <%= @global_process.name%>  </h1>
<h2> with tasks: </h2>

<%@global_process.tasks.each do |task|%>
<h3> <ol><li><%=task.description%></li> </ol></h3>
<%end%>
<br>

<% if current_user.id == @global_process.user.id%>
<a href="global_processes/<%= global_process.id %>"> <%= global_process.name%> </a> 
<form action="/global_processes/<%= @global_process.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Global Process">
</form>
<%end%>
